@media only screen and (max-width: 991px) {

    .header{
        height: 700px;
        padding: 30px;
    }
    .header img{
        width: 70%;
        height: 200px;
        margin: 20px 0 0 0px;
    }

}